* {
    box-sizing: border-box;
}
 {
    color: #02b3e4;
}
h1 {
    text-align: right;
}
h1, h3, p {
    color: #2d3c49;
}
hr, h2 {
    color: #7d97ad;
}
hr {
    border-width: 3px;
}
p {

}
img {
    max-width: 100%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
div.logo {
    max-width: 30%;
    display: inline-block;
}
div.titulo {
    width: 70%;
    display: inline-block;
    vertical-align: text-top;
}
